<form action="" [formGroup]="form" #f="ngForm">
  <div class="form-group">
    <label for="oldpassword">Old Password</label>
    <input
    type="text"
    class="form-control"
    id="oldpassword"
    formControlName="oldpassword"
    />
    <div
    *ngIf="oldpassword.touched && oldpassword.invalid"
    class="alert alert-danger"
    >
    <div *ngIf="oldpassword.errors?.required">
      The Old password is required.
    </div>
    <div *ngIf="oldpassword.errors?.invalidOldPassword">
      Old password is invalid
    </div>
    </div>
  </div>
  <div class="form-group">
    <label for="newpassword">New Password</label>
    <input
      type="text"
      class="form-control"
      id="newpassword"
      formControlName="newpassword"
    />
    <div
      *ngIf="newpassword.touched && newpassword.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="newpassword.errors?.required">
        The New password is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmpassword">Confirm Password</label>
    <input
      type="text"
      class="form-control"
      id="confirmpassword"
      formControlName="confirmpassword"
    />
    <div
      *ngIf="confirmpassword.touched && confirmpassword.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="confirmpassword.errors?.required">
        The Confirm password is required.
      </div>
    </div>
    <div *ngIf="confirmpassword.valid && form.invalid && form.errors?.passwordShouldMatch" class="alert alert-danger">
      Password do not matches;
    </div>
  </div>
  <div>
    <button class="btn btn-primary mt-2" type="submit" [disabled]="!form.valid">
      Submit
    </button>
  </div>
</form>
